body {
  background-color: #D7CFCD;
}

main {
  overflow: hidden;
}

.layout {
  height: 100vh;
}

.dark {
  background-color: #383A3D;
}

.text-dark {
  color: #383A3D;
}

.light {
  background-color: #D7CFCD;
}

.text-light {
  color: #D7CFCD;
}

@media  screen and (max-width: 720px) {
  body {
    padding-bottom: 120px;
  }
}