.bottom-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .bottom-menu-container {
        position: relative;
    }
    .bottom-menu {
        display: flex;
    }
    .bottom-menu-links {
        width: 100%;
    }

    body {
        margin-bottom: 70px;
    }
}
