.profile-container {
    max-width: 900px;
    margin-top: 0.5rem;
}

.profile-col {
    padding: 5px;
}

.profile-info {
    height: 100%;
}

.info-text {
    font-family: Roboto;
    font-weight: 100;
}

.profile-info-about {
    display: flex;
}


.profile-info-values {
    margin-left: 2rem;
}

.profile-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-state-value {
    font-size: 3rem;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .profile-stats-container {
        display: flex;        
        flex-direction: row;
    }
}